@{
    ViewBag.Title = "Home Page";
}

<section class="section-block">
    <div class="banner">
        <img src="~/Content/images/banner.jpg" alt="banner">
    </div>
</section>
<section id="section-it" class="block-hd">
    <h3 class="h3-content">
        CHƯƠNG TRÌNH
        <br>
        ĐÀO TẠO TIN HỌC
    </h3>
    <div class="course-content">
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20UDCNTT%20C%C4%82N%20B%E1%BA%A2N.png?alt=media&token=a6f47541-10ae-4151-8459-0002e7a98da4" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                CHƯƠNG TRÌNH UDCNTT CĂN BẢN
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 18 Tiết
                            </div>
                            <div>
                                Học phí: 900.000 vnđ
                            </div>
                            <div>
                                Thời lượng học: 45 Tiết
                            </div>
                            <div>
                                Học phí: 1.100.000 vnđ
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20UDCNTT%20N%C3%82NG%20CAO%20THEO%20MODULE%20R%C3%9AT%20G%E1%BB%8CN.png?alt=media&token=0fba4feb-4ed8-4000-812f-ce7aa48dc69f" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                CHƯƠNG TRÌNH UDCNTT NÂNG CAO THEO MODULE RÚT GỌN
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 45 Tiết/ module
                            </div>
                            <div>
                                Học phí: 1.100.000 vnđ
                            </div>
                            <div>
                                Chương trình tích hợp nhiều module để học viên chọn
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20TIN%20H%E1%BB%8CC%20%E1%BB%A8NG%20D%E1%BB%A4NG.png?alt=media&token=a9837c8e-2aa5-4980-b858-6b51a4c3d976" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                CHƯƠNG TRÌNH TIN HỌC ỨNG DỤNG
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 45 Tiết
                            </div>
                            <div>
                                Học phí: 1.100.000 vnđ
                            </div>
                            <div>
                                chương trình tích hợp nhiều module để học viên chọn
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20UDCNTT%20N%C3%82NG%20CAO%20THEO%20MODULE%20CHUY%C3%8AN%20S%C3%82U.png?alt=media&token=7ccabb2b-c96b-4148-9796-bf4d4f6d7d86" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                CHƯƠNG TRÌNH UDCNTT NÂNG CAO THEO MODULE CHUYÊN SÂU
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 90 Tiết
                            </div>
                            <div>
                                Học phí: 2.200.000 vnđ
                            </div>
                            <div>
                                chương trình tích hợp nhiều module để học viên chọn
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-lang" style="background-color: #F3F6FA;">
    <div class="block-hd">
        <h3 class="h3-content">
            CHƯƠNG TRÌNH
            <br>
            ĐÀO TẠO NGOẠI NGỮ
        </h3>
        <div class="course-content">
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20LUY%E1%BB%86N%20CH%E1%BB%A8NG%20CH%E1%BB%88%20B1.png?alt=media&token=602fb56d-3fb3-475b-b80c-82dc3ef0088e" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH LUYỆN CHỨNG CHỈ B1
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    Thời lượng học: 2 Tuần
                                </div>
                                <div>
                                    học phí: 600.000 vnđ
                                </div>
                                <div>
                                    Thời lượng học: 5 Tuần
                                </div>
                                <div>
                                    học phí: 1.500.000 vnđ
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FTI%E1%BA%BENG%20ANH%20GIAO%20TI%E1%BA%BEP%20CHU%E1%BA%A8N%20QU%E1%BB%90C%20T%E1%BA%BE.png?alt=media&token=fe3c3210-3bda-4f89-ab06-0bbf4e243052" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    TIẾNG ANH GIAO TIẾP CHUẨN QUỐC TẾ
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    Thời lượng học: 54 Tiết/ Level
                                </div>
                                <div>
                                    Học phí: 1.400.000 vnđ
                                </div>
                                <div>
                                    chương trình tích hợp nhiều level để học viên chọn học
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCH%C6%AF%C6%A0NG%20TR%C3%8CNH%20LUY%E1%BB%86N%20CC%20NGO%E1%BA%A0I%20NG%E1%BB%AE%20B%E1%BA%ACC%203%20(NH%E1%BA%ACT%2FTRUNG%2FH%C3%80N%2FPH%C3%81P).png?alt=media&token=8bd4284d-49de-4532-967a-4c22d9e74bf9" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH LUYỆN CC NGOẠI NGỮ BẬC 3 (NHẬT/TRUNG/HÀN/PHÁP)
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    Thời lượng học: 2 Tuần
                                </div>
                                <div>
                                    học phí: 600.000 vnđ
                                </div>
                                <div>
                                    Thời lượng học: 5 Tuần
                                </div>
                                <div>
                                    học phí: 1.500.000 vnđ
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FN%C4%82NG%20L%E1%BB%B0C%20TI%E1%BA%BENG%20TRUNG%20HSK.png?alt=media&token=5edb4299-22d6-482f-b472-e02fe1927e1d" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    NĂNG LỰC TIẾNG TRUNG HSK
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    Thời lượng học: 72 tiết
                                </div>
                                <div>
                                    học phí: 2.100.000 vnđ
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-skill" class="block-hd">
    <h3 class="h3-content">
        CHƯƠNG TRÌNH
        <br>
        ĐÀO TẠO KỸ NĂNG
    </h3>
    <div class="course-content">
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FK%E1%BB%B8%20N%C4%82NG%20GIAO%20TI%E1%BA%BEP%20V%C3%80%20L%C3%80M%20VI%E1%BB%86C%20NH%C3%93M.png?alt=media&token=e2db9e57-98af-4fe9-a4c3-046844120bf3" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                KỸ NĂNG GIAO TIẾP VÀ LÀM VIỆC NHÓM
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 30 Tiết
                            </div>
                            <div>
                                Học phí: 700.000 vnđ
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2F%C4%90%C3%80O%20T%E1%BA%A0O%20L%C3%81I%20XE%20H%E1%BA%A0NG%20B.png?alt=media&token=38429ffc-7481-4cae-a32a-43fe7ebc83a7" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                ĐÀO TẠO LÁI XE HẠNG B
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Học phí:
                            </div>
                            <div>
                                -B1: 15 triệu
                            </div>
                            <div>
                                -B2: 14 triệu
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FK%E1%BB%B8%20N%C4%82NG%20B%C3%80N%20PH%C3%8DM.png?alt=media&token=86e3f981-f0bf-416c-a62c-1cb4a0883781" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                KỸ NĂNG BÀN PHÍM
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 21 Tiết
                            </div>
                            <div>
                                Học phí: 400.000 vnđ
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-details">
            <div class="course-dt">
                <div class="course-hd">
                    <img src="https://firebasestorage.googleapis.com/v0/b/webcomponent-b2ac6.appspot.com/o/Course%2FCHUY%C3%8AN%20%C4%90%E1%BB%80%20K%E1%BB%B8%20N%C4%82NG%20M%E1%BB%80M.png?alt=media&token=099a2469-e783-4524-9b92-4ffe2d73c176" alt="course">
                </div>
                <div class="course-body">
                    <div class="content">
                        <div class="title">
                            <p>
                                CHUYÊN ĐỀ KỸ NĂNG MỀM
                            </p>
                        </div>
                        <div class="sum">
                            <div>
                                Thời lượng học: 15 Tiết/kỹ năng
                            </div>
                            <div>
                                Học phí: 500.000 vnđ
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="button">
                            <span>Đăng ký</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section id="section-it" class="block-hd">
        <h3 class="h3-content">
            CHƯƠNG TRÌNH
            <br>
            ĐÀO TẠO TIN HỌC
        </h3>
        <div class="course-content">
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-lang" style="background-color: #F3F6FA;">
        <div class="block-hd">
            <h3 class="h3-content">
                CHƯƠNG TRÌNH
                <br>
                ĐÀO TẠO NGOẠI NGỮ
            </h3>
            <div class="course-content">
                <div class="course-details">
                    <div class="course-dt">
                        <div class="course-hd">
                            <img src="~/Content/images/course-hd.png" alt="course">
                        </div>
                        <div class="course-body">
                            <div class="content">
                                <div class="title">
                                    <p>
                                        CHƯƠNG TRÌNH CĂN BẢN
                                    </p>
                                </div>
                                <div class="sum">
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                </div>
                            </div>
                            <div class="submit">
                                <button type="button">
                                    <span>Đăng ký</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-details">
                    <div class="course-dt">
                        <div class="course-hd">
                            <img src="~/Content/images/course-hd.png" alt="course">
                        </div>
                        <div class="course-body">
                            <div class="content">
                                <div class="title">
                                    <p>
                                        CHƯƠNG TRÌNH CĂN BẢN
                                    </p>
                                </div>
                                <div class="sum">
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                </div>
                            </div>
                            <div class="submit">
                                <button type="button">
                                    <span>Đăng ký</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-details">
                    <div class="course-dt">
                        <div class="course-hd">
                            <img src="~/Content/images/course-hd.png" alt="course">
                        </div>
                        <div class="course-body">
                            <div class="content">
                                <div class="title">
                                    <p>
                                        CHƯƠNG TRÌNH CĂN BẢN
                                    </p>
                                </div>
                                <div class="sum">
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                </div>
                            </div>
                            <div class="submit">
                                <button type="button">
                                    <span>Đăng ký</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course-details">
                    <div class="course-dt">
                        <div class="course-hd">
                            <img src="~/Content/images/course-hd.png" alt="course">
                        </div>
                        <div class="course-body">
                            <div class="content">
                                <div class="title">
                                    <p>
                                        CHƯƠNG TRÌNH CĂN BẢN
                                    </p>
                                </div>
                                <div class="sum">
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                    <div>
                                        CONTENT
                                    </div>
                                </div>
                            </div>
                            <div class="submit">
                                <button type="button">
                                    <span>Đăng ký</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-skill" class="block-hd">
        <h3 class="h3-content">
            CHƯƠNG TRÌNH
            <br>
            ĐÀO TẠO KỸ NĂNG
        </h3>
        <div class="course-content">
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course-details">
                <div class="course-dt">
                    <div class="course-hd">
                        <img src="~/Content/images/course-hd.png" alt="course">
                    </div>
                    <div class="course-body">
                        <div class="content">
                            <div class="title">
                                <p>
                                    CHƯƠNG TRÌNH CĂN BẢN
                                </p>
                            </div>
                            <div class="sum">
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                                <div>
                                    CONTENT
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button">
                                <span>Đăng ký</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@